* {
    box-sizing: border-box;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-grid {
    display: grid;
    grid-template-columns: repeat(16, 25px [col-start]);
    background-color: #ffebcd;
  }

  .size-button {
    background-color: #1ecbe1;
    color: white;
    margin-left: 25px;
    border: none;
    border-radius: 7px;
    padding: 25px;
  }